<h2>Hello {{nickname}}</h2>

<c-row class="justify-content-start">
  <c-col xs="4">
    <app-sidebar [users]="users" [selectedUser]="selectedUser" [currentUser]="currentUser"></app-sidebar>
  </c-col>
  <c-col xs="8">
    <app-chat [currentUser]="currentUser" [selectedUser]="selectedUser"></app-chat>
  </c-col>
</c-row>
