<div class="sidebar-area">
  <c-header style="background: none;">
    <c-header-brand style="color: #FFF;">Chat users: {{ users.length }}</c-header-brand>
  </c-header>
  <div class="user-area  scroll-area">
    <ul cListGroup>
      <li *ngFor="let usr of users" class="msg-entry" [ngClass]="{
        active: selectedUser?.id === usr.id
      }" cListGroupItem (click)="onSelect($event, usr)">{{ usr.profileData.nickname }}<span *ngIf="usr.writing" class="dot dot-elastic"></span></li>
    </ul>
  </div>
</div>
