.sidebar-area{
  background-color: #6E6499;
  height: 75vh;

  .user-area{
    height: 65vh;

    ul{
      li{
        cursor: pointer;
        &.active{
          background-color: #cdc7cd;
        }

        a{
          display: block;
          color: #000;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }
}

.dot{
  display: inline-block;
  margin-left: 15px;
}

@import "_dots.scss";
