<form [formGroup]="theForm" (ngSubmit)="goOn()" cForm>
  <div class="mb-3 form-group" >
    <div cFormText class="mb-3">
      <strong >Set up your nickname</strong>
    </div>
    <label cLabel for="nickname-field">Nickname</label>
    <input required cFormControl id="nickname-field" type="text" value={{nickname}} class="form-control" formControlName="nickname">
  </div>
  <button cButton color="primary" type="submit" class="btn btn-primary">
    Enter the app
  </button>
</form>
