<c-container>
  <c-header>
    <c-header-brand>{{title}}</c-header-brand>
    <c-header-nav *ngIf="nickname !== ''">
      <c-nav-item>
        <a cNavLink routerLink="/change-nickname">Chat</a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/change-nickname">Change nickname</a>
      </c-nav-item>
    </c-header-nav>
  </c-header>

  <router-outlet></router-outlet>
</c-container>
