//IMPORTS
@import "~@coreui/coreui/scss/coreui";
@import '~bootstrap/dist/css/bootstrap.min.css';

//GLOBAL CODE

*{
  box-sizing: border-box;
}

body, html{
  margin: 0;
  padding: 0;
}

.scroll-area{
  overflow-y: scroll;
}
