<div *ngIf="selectedUser" class="chat-area">
  <c-header style="background: none;">
    <c-header-brand style="color: #FFF;">Talk with: {{ selectedUser.profileData.nickname }}</c-header-brand>
  </c-header>
  <div class="msg-area scroll-area" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div *ngFor="let msg of msgs; let i = index" class="msg-entry" [ngClass]="{'my-message': msg.createdBy?.id === currentUser?.id, 'mt-auto': i === 0}">
      <strong class="msg-author" >{{ msg.createdBy?.profileData?.nickname }}</strong>
      <p class="msg-content" >{{ msg.content }}</p>
      <small class="msg-content" >{{ formatDate(msg.createdAt) }}</small>
    </div>
  </div>
  <form [formGroup]="msgForm" (ngSubmit)="onSend()" cForm class="msg-form">
    <input required cFormControl id="msg-field" type="text" class="form-control" formControlName="content" (keyup)="sendWritingInfo()">
    <button cButton color="primary" type="submit" class="btn btn-primary">
      <svg cIcon name="cilSend" size="lg" title="Send message"></svg>
    </button>
  </form>
</div>

<div *ngIf="!selectedUser" class="mt-3">
  <div class="alert alert-info">Choose chat user</div>
</div>
