.chat-area{
  background-color: #c5b7ff;
  height: 75vh;
  display: flex;
  flex-direction: column;

  form{
    background-color: #c5b7ff;
    display: flex;
    flex-direction: row;
    height: 50px;

    input{
      width: 85%;
    }
    button{
      width: 15%;
    }
  }
}

.msg-area{
  position:relative;
  height: 94%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: stretch;
}

.msg-form{
  background-color: #6E6499;
}

.msg-entry{
  background-color: #6E6499;
  color: #FFF;
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  padding: 5px;
  //margin-top: auto;
  margin-bottom: 5px;

  &.my-message{
    border-radius: 10px;
    border-bottom-left-radius: 0;
    background-color: lighten(#6E6499, 20%);
    margin-left: auto;
  }

  small{
    font-size: 10px;
  }
}

